.register-wrapper{
    box-shadow: 1rem 1rem #10000090, -1rem -1rem #10000090;
    padding: 2rem 2rem;
    height: 600px !important;
    overflow-y: scroll;
}
.login-wrapper{
    box-shadow: 1rem 1rem #10000090, -1rem -1rem #10000090;
    margin-top: 3.5rem;
}
.app-wrapper{
    background:linear-gradient(to bottom right, #33ccff 71%, #ffffff 100%) no-repeat;
    background-size: cover;
    height: 100vh;
}